.user_area {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  margin: auto;
  grid-auto-flow: row;
}

.card_body {
  height: 150px;
  background-color: white;
  display: grid;
  gap: 2.5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  border: 1.5px solid black;
  box-shadow: 6px 6px black; 
}

.card_link, .card_link:active {
  color: black;
  text-decoration: none;
}

.user_Balance_card {
  height: 150px;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-radius: 25px;
  border: 1.5px solid black;
  box-shadow: 6px 6px black;
  grid-column: span 2;
}

.user_Balance_card h1{
  font-size: 3rem;
}

.user_Balance_card h3 {
  font-size: 2rem;
}

.card_img {
  margin: auto;
  width: 50px;
}

.user_table thead tr th {
  padding: 10px 90px;
  background: #000;
  color: white;
}

.user_table tbody tr th {
  padding: 8px 0;
}

.user_history {
  margin: auto;
  display: grid;
  background-image: url('../../Images/banner-landing-page.0bd7f55.jpg');
  background-size: cover;
  color: black;
  padding: 10px;
}

.user_area_h1 {
  padding: 25px;
  margin: left;
  width: fit-content;
  background-color: white;
  color: #000;
  border-radius: 25px;
  border: 1.5px solid black;
  box-shadow: 6px 6px #9E63FF;
}

.user_table_area {
  width: 100%;
  display: grid;
  margin: auto;
  gap: 20px;
  padding: 20px;
}

.table_row {
  background-color: white;
}

.user_history_filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.error_msg {
  color: red;
}

.span-2 {
  grid-column: span 2;
}

.user_table {
  display: none;
}

.welcome {
  grid-column: span 2;
}

.exemplo_card2 {
  grid-column: span 2;
}

.respon_row {
  color: black;
  background-color: white ;
  display: flex;
  font-size: 1.2rem;
  padding: 10px 20px;
  gap: 20px;
  border: 1.5px solid black;
}

.pix_area {
  height: 600px;
  margin: auto;
  padding: 15px;
}

.pix_area_title {
  font-size: 2rem;
  margin: 15px 0;
}

.pix_area_inputs {
  padding: 20px 10px;
}

.pix_area_inputs label input {
  padding: 10px;
  width: 100%;
  margin: 16px 0;
}

.pix_area_inputs button {
  width: 100%;
  padding: 10px;
  margin: 16px 0;
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 4px 3px black;
}

@media (min-width: 998.98px) {
  .user_area {
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
  }

  .user_history {
    background-size: cover;
  }
  
  .user_table {
    display: table;
  }

  .user_history_filters {
    grid-template-columns: repeat(4, 1fr);
  }

  .exemplo_card2 {
    grid-column: span 1;
  }

  .user_table_area {
    width: 80%; 
  }

  .responsive_table {
    display: none;
  }

  .pix_area {
    height: 600px;
    padding: 15px;
    width: 40%;
  }
}